# MQTT - HiveMQ Cloud
MQTT_BROKER=mqtts://7c9421041ec04ce79cbf3520e3fcc77b.s1.eu.hivemq.cloud:8883
MQTT_USER=albertoamas
MQTT_PASS=tu_password_mqtt

# Supabase - usar la clave service_role (NO la anon key)
SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
